
run = "cd 2024/01; python 202401_np.py"
entrypoint = "2024/01/202401_np.py"

[env]
PYTHONPATH = "/home/runner/advent/2024/lib"
PATH = "/home/runner/advent/bin"


[nix]
#channel = "stable-22_11"
channel = "stable-23_05"
