
run = "cd 2024/02; goal 202402.goal"

[env]
PYTHONPATH = "/home/runner/workspace/2024/lib"
PATH = "/home/runner/workspace/bin"


[nix]
#channel = "stable-22_11"
#channel = "stable-23_05"
channel = "stable-24_05"
