
run = "cd 2024/03; python 202403.py"
entrypoint = "2024/03/202403.py"

[env]
PYTHONPATH="/home/runner/advent/2024/lib"
PATH="/home/runner/advent/bin"


[nix]
#channel = "stable-22_11"
channel = "stable-23_05"
